body {
  background: #141414 !important;
  color: #ffffff !important;
}

.movie-app > .row {
  overflow-x: auto !important ;
  flex-wrap: nowrap !important;
}

.image-container {
  position: relative !important;
  transition: transform 0.2s !important;
  width: fit-content !important;
}

.image-container:hover {
  cursor: pointer !important;
  transform: scale(1.1) !important;
}

.image-container:hover .overlay {
  opacity: 1 !important;
}

.overlay {
  position: absolute !important;
  background: rgba(0, 0, 0, 0.8) !important;
  width: 100% !important;
  transition: 0.5s ease !important;
  opacity: 0 !important;
  bottom: 0 !important;
  font-size: 20px !important;
  padding: 20px !important;
  text-align: center !important;
}
